@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
  --color-black-1: #151515;
  --color-black-2: #1b1b1b;
  --color-black-3: #272727;
  --color-gray-1: #c4c4c4;
  --color-blue-1: #00d2df;
  --color-white-1: #f6f6f6;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
body{
  font-family: "Inter";
  color: var(--color-5);
}
*{
  margin: 0px;
  padding: 0px;
}
h2{
  color: var(--color-blue-1);
  margin-bottom: 1.6em;
}
p{
  color: var(--color-gray-1);
}
.container{
  width: 80%;
  max-width: 1100px;
  margin: auto;
}
.btn-primary{
  background-color: transparent;
  border: 2px solid var(--color-blue-1);
  color: var(--color-white-1);
  padding: 10px 24px;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 10px;
  transition: .4s;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: var(--color-blue-1);
  color: var(--color-black-1);
  box-shadow: 0px 0px 10px 1px var(--color-blue-1);
}
.header{
  background-color: var(--color-black-1);
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 3px solid var(--color-black-3);
}
.header .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
}
.header .logo{
  font-size: 24px;
  color: #f6f6f6;
}
.header .nav-list{
  display: flex;
  gap: 20px;
}
.header a{
  color: white;
  display: inline-block;
  padding: 15px 0px;
  border-bottom: 2px solid var(--color-black-1);
}
.header a:hover{
  color: var(--color-blue-1);
  border-bottom: 2px solid var(--color-blue-1);
}
.header .btn-mobile{
  display: none;
}
.header .btn-mobile {
  position: relative;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: var(--color-black-1);
}
.header .bars{
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: var(--color-white-1);
}
.header .btn-mobile:hover .bars{
  background-color: var(--color-blue-1);
}
.header .bars:nth-child(1){
  top: 5px;
}
.header .bars:nth-child(2){
  top: 15px;
}
.header .bars:nth-child(3){
  top: 25px;
}

.home{
  background-color: var(--color-black-1);
  box-sizing: border-box;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  text-align: center;
  padding: 30px 0px;
  display: flex;
}

.home p{
  font-size: 24px;
  margin-bottom: 50px;
}
.home .meu-nome{
  display: block;
  color: var(--color-blue-1);
  text-transform: uppercase;
  font-size: 34px;
  margin: 24px 0;
}
.home .links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}
.home .links a{
  margin: 0px;
}
.home .oportunidade{
  max-width: 500px;
  margin: 50px auto;
  font-size: 15px;
  line-height: 2;
}
.home .oportunidade .efeito{
  color: var(--color-blue-1);
}

.about{
  padding: 100px 0px;
  background-color: var(--color-black-2);
}

.about p{
  line-height: 2;
  text-align: justify;
}

.projects{
  padding: 100px 0px;
  background-color: var(--color-black-1);
}
.projects .card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-items: center;
}
.projects .card-item{
  width: 100%;
  max-width: 420px;
}
.projects .card-img{
  display: block;
  max-width: 100%;
  background-position: center;
}
.projects .card-title{
  border-bottom: 2px solid var(--color-black-1);
  color: var(--color-white-1);
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 5px;
}
.projects .card-title:hover{
  border-bottom: 2px solid var(--color-blue-1);
  color: var(--color-blue-1);
}
.projects .skill{
  font-size: 13px;
  color: var(--color-blue-1);
}
.projects .btn-primary{
  display: block;
}
.footer{
  padding: 40px 0px;
  text-align: center;
  background-color: var(--color-black-2);
  color: var(--color-white-1);
}
.footer .nome{
  animation: changeColorName 10s infinite;
}
.footer p{
  margin-bottom: 20px;
}
.footer a{
  padding: 8px 0px;
  border-bottom: 2px solid var(--color-black-2);
  color: var(--color-white-1);
}
.footer a:hover{
  border-bottom: 2px solid var(--color-blue-1);
  color: var(--color-blue-1);
}

@media (max-width: 992px) {
  .header .btn-mobile{
    display: block;
  }
  .header .nav-list{
    text-align: center;
    display: block;
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    transition: .4s;
    z-index: 1000;
    background-color: var(--color-black-1);
  }
  .header .nav .nav-list.active {
    height: 160px;
    visibility: visible;
    overflow-y: hidden;
  } 

  .projects .card{
    grid-template-columns: 1fr;
  }
}
